body{
    background-color: rgb(27, 78, 102);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    border: 1px solid #fff;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    width: 330px;
    font-size: 14px;
    margin-bottom: 15px;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.label1{
    width: 75px;
}

input{
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    margin: 3px;
    text-align: center;
}

button{
    height: 40px;
    width: 200px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(85, 124, 207, 0);
    color: #fff;
    cursor: pointer;
}

#result{
    background-color: rgb(14, 129, 124);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 320px;
    height: 35px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 0;
}

.situations{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.situation{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 20px;
}

.extra-lower, .plus-3{
    background-color: rgb(185, 0, 0);
    font-weight: bolder;
}
.lower, .plus-2{
    background-color: rgb(235, 0, 0);
}
.low, .plus{
    background-color: rgb(230, 230, 0);
    color: rgb(46, 46, 46);
}
.normal{
    background-color: rgb(0, 100, 0);
    font-weight: bold;
}
.plus-4{
    background-color: brown;
    font-weight: bolder;
}


